@font-face {
    font-family: 'Roboto', sans-serif;
    src:url(../fonts/Roboto-Thinltalic.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'Roboto', sans-serif;
    src:url(../fonts/Roboto-Regular.ttf);
    font-weight: bold;
}
@font-face {
    font-family: 'Roboto', sans-serif;
    src:url(../fonts/Roboto-Ligh.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
h2 {
    text-align: center;
}
.block1 {
 font-family: 'Roboto', sans-serif;
 font-weight: 500;
 font-size: 1.5rem;
 font-style: italic;
}
.block2 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2rem;
}
.block3 {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}